.site {
	display: grid;
	grid-template-columns: 100%;
		grid-template-areas:
		"header header"
		"main main"
		"sidebar sidebar"
		"footer footer";

	@include media-desktop{
		grid-template-columns: 80% 20%;
		grid-template-areas:
		"header header"
		"main sidebar"
		"footer footer";
	}
	
}

.site-header {
	grid-area: header;
	height: 26vh;
	@include media-desktop {
        height: 30vh;
    }
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
	@include media-desktop {
		border-left: 0.2vw solid rgb(87, 85, 85);
		background-color: transparent;
		border-top: none;
	}
	border-left: none;
	background-color: gainsboro;
	margin-top: 10%;
	margin-bottom: 15%;
	border-top: 0.2vw solid rgb(87, 85, 85);
	
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";
