.admin-rapide {
    width: 100%;
    background-color: rgb(213, 228, 214);
    margin: 2% 2.5% 2% 0.2%;
    padding: 2% 2.5% 2% 0.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    h2 {
        
        margin: 0 auto;
        margin-bottom: 4%;
        font-weight: bold;
        background-color:  rgb(150, 226, 147);
        text-align: center;
        color: black;
        padding: 2%;
        width: 80%;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }

    input, textarea {
        border: none;
        border-radius: 0px;
        resize: none;
        margin-bottom: 1%;
        

    }

    input:focus, textarea:focus {
        outline: none;
    }

    button {
        margin: 2% auto;
        width: 20%;
        border-radius: 50px;
        padding: 2%;
        background-color: rgb(150, 226, 147);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        transition: 0.25s all ease;
    }

    button:hover {
        transform: scale(1.005);
        box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.81);
        -webkit-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.81);
        -moz-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.81);
    }

}