/* Style du caroussel */

.carrousel {
    z-index: -100;
    display: flex;
    width: 300vw;
    transition: transform .5s cubic-bezier(.58,.24,.86,.48);

    /* Contenu réactifs */
        div {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: clamp(2.25rem, #{"-0.875rem + 5.5vw"}, 4.5rem);
            z-index: 10;
        &:nth-of-type(1) {
            background-color: rgb(213, 228, 214);
        }

        p {
            margin: 0;
            background-color: rgb(34, 37, 37);
            width: 100%;
            color: white;
            text-align: center;
            
        }
    }

}