/* Style du caroussel */
/* BON FICHIER */
.carrousel {
    z-index: -100;
    width: 100vw;
    transition: transform .5s cubic-bezier(.58,.24,.86,.48);
    

    /* Contenu réactifs */
    div {
        height: 300px;
        width: 100vw;
        padding-top: 70px;
        @include media-desktop {
            margin-top: 0;
        }
        
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(2.25rem, #{"-0.875rem + 5.5vw"}, 4.5rem);
        z-index: 10;
        display: flex;
        flex-direction: column;

    h3,p {
        margin-top: 20px;
        margin: 0;
        background-color: rgb(34, 37, 37);
        width: 100%;
        color: white;
        text-align: center;
        text-shadow: 0px 0px 5px rgba(255,255,255,0.4);
    }
}
}

.carrousel-2 {
    z-index: -100;
    display: flex;
    width: 300vw;
    height: 30vh;
    transition: transform .5s cubic-bezier(.58,.24,.86,.48);
    flex-wrap: nowrap;
    .slide__conteneur {
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(2.25rem, #{"-0.875rem + 5.5vw"}, 4.5rem);
        z-index: 10;

            /* Contenu réactifs */
            .slide {
                width: 90%;
                height: 20vh;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: clamp(2.25rem, #{"-0.875rem + 5.5vw"}, 4.5rem);
                z-index: 10;
            &:nth-of-type(1) {
                background-color: rgb(213, 228, 214);
            }
            &:nth-of-type(2) {
                background-color: rgb(170, 226, 133);
            }
            &:nth-of-type(3) {
                background-color: rgb(102, 207, 92);
            }

            p {
                margin: 0;
                background-color: rgb(34, 37, 37);
                width: 100%;
                color: white;
                text-align: center;
                animation: fond-adapater 2.5s ease-in-out infinite alternate;
            }
            
            img {
                display: block;
                margin: 2%;
            }
            .slide__info {
                width: 70%;
                margin: 1%;
                height: 15vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                p {
                    font-size: .8rem;
                    animation: fond-adapater 2.5s ease-in-out infinite alternate;
                }
                a {
                    font-size: 1.5rem;
                    text-decoration: none;
                }
            }
        } /* Fin du div */
    }
}

/* Animation des catégories des cours */
@keyframes texte-bouge {
    0% {
        transform: translateX(-50px);
    }

    15% {
        color: rgb(231, 245, 227);
    }

    50% {
        color: rgb(231, 245, 227);
    }

    85% {
        color: rgb(231, 245, 227);
    }
    100% {
        transform: translateX(50px);
    }
}

.ctrl-carrousel {
    background-color: rgb(213, 228, 214);
    width: 100vw;
    display: flex;
    justify-content: center;
    input {
        margin: 1.8rem;
        width: 15px;
        height: 15px;
        &:nth-of-type(4) {
            display: none;
        }
        &:nth-of-type(5) {
            display: none;
        }
        &:nth-of-type(6) {
            display: none;
        }
    }
}


/* Animation qui fait une belle animationa ambiante sur le caroussel */
@keyframes fond-adapater {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    35% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    65% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}
