/* Style du footer */
.site-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column-reverse;
	background-color: rgb(36, 36, 36);
	color: white !important;
	font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding-top: 2.5%;
    @include media-desktop {
        padding: 2.5% 2.5% 0 2.5%;
    }

	.lien {
		position: absolute;
		color: white;
		right: 20px;
	}

    .ligne-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }

    div:first-child {
        background-color: black;
        padding: 2%;
        margin-top: 2%;
    }

    .widget {
        margin: 0;
        
        ul {
            margin: 0;
        }
    }
}



