.site-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
	background-color: rgb(36, 36, 36);
	color: white !important;
	font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px;

	.lien {
		position: absolute;
		color: white;
		right: 20px;
	}

    .ligne-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    } 
}



