/* Style de la galerie de projets */
.galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    article {
        background-color: transparent;
        perspective: 1000px;
        margin: 2%;
        width: 275px;
        height: 275px;

        img {
            width: 275px;
            height: 275px;
        }

        .galerie_interieur {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;

            .galerie_devant, .galerie_derriere {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .galerie_devant {
                background-color: #bbb;
                color: black;
            }

            .galerie_derriere {
                background-color: rgb(145, 214, 145);
                color: white;
                transform: rotateY(180deg);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                p {
                    background-color:rgb(210, 245, 210);
                    margin: 0;
                    width: 100%;
                    height: 20%;
                    text-align: center;
                    padding: 5%;
                    font-weight: bold;
                }

                a {
                    padding: 5%;
                    width: 50%;
                    background-color: rgb(183, 233, 183);
                    height: 20%;
                    margin-bottom: 20%;
                }
                
            }
        }
    }

    article:hover .galerie_interieur {
        transform: rotateY(180deg)
    }
}

/* Style du titre d'une page */
.page-title {
    margin-top: 5%;
    text-align: center;
    color: black;
    background-color: rgb(127, 199, 127);
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}